body {
  background-color: #FAEBE0;
}

hr {
  background-color: #C9E4C5;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 15px;
  width: 10%;
}

h1{
  color: #558776;
}

h3{
  color:#558776;
}
